.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 4px solid transparent;
    transition: var(--transition);
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: #18CF9B;
}


.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7 {
    position: absolute;
    font-size: 2.5rem;
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    border: 1px solid transparent;
}

.container1 {
    position: relative;
    width: 300px;
    height: 300px;
  }


/*========MEDIA QUERIES (MEDIUM DEVICES)========*/
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content {
        padding: 1rem;
    }
}

/*========MEDIA QUERIES (SMALL DEVICES)========*/
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}

